/* icon_container.css */

.icon-container {
    display: flex;
    gap: 50px; /* Spacing between icons */
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
}

.icon-link {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Make it round */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow around the icon */
    transition: transform 0.3s ease;
    background-color: 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.2); /* Scale effect on hover */
    background-color: #31354d; /* Change background on hover */
}

.icon-link img {
    width: 80px;
    height: 80px;
}