html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;  /* 使 main 部分占据剩余空间 */
    }
  
  footer {
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: auto; /* 将 footer 推到页面底部 */
  }
  