.sprite {
    width: 16px;   /* 每帧的宽度 */
    height: 16px;  /* 每帧的高度 */
    background-image: url('../../static/img/sprite/0001.png'); /* 精灵图 */
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute; /* 必须这样才能支持 left/top 定位 */
  }
  